html, body {
    height: 100%;
    margin:0;
    font-size: 18px;
    color: #5a5959;
    background-color: #F5F5F5;
}

*::selection {
	background: #97e7ff;
	color: #fff;
}

*::-moz-selection {
	background: #97e7ff;
	color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #5a5959;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #00AFF0;;
}

header {
    background-color: #fff;
    text-align: center;
}

.title {
    padding: 10vh;
}

section {
    padding: 10px;
    text-align: center;
}

.section-title {
    margin: 1em;
}

section p {
    padding: 0.75em;
}

footer {
    min-height: 45vh;
    background-color: #333;
    text-align: center;
}

.links {
    padding: 10em;
}
footer p {
    padding: 1em;
}

